*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
}
.appContainer{
  margin-inline: auto;
  margin-top: 50px;
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  gap: 5px;
}
.headerContainer{
  width: 100%;
  display: flex;
}
.headerContainer input{
  width: 100%;
  padding: 10px 5px;
  font-size: 18px;
  border: none;
  background-color: gainsboro;
  outline:  none;
  border-radius: 4px 0 0 4px;
}
.headerContainer button{
  width: 150px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  border-radius: 0 4px 4px 0;
  background-color: rgb(3, 197, 3);
  color: white;
}
.headerContainer button:hover{
  background-color:rgb(3, 177, 3) ;
}
::placeholder{
  font-size: 15px;
}
ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
  margin-top: 20px;
}
ul li{
  padding: 5px;
  border-radius: 4px;
  border: 1px solid;
  cursor: pointer;
}
.underline{
  text-decoration: line-through;
}
.buttonContainer, li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.buttonContainer div{
  cursor: pointer;
}

.complete{
 text-decoration: line-through;
}